# =====================================
# Node.js
# =====================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*
.env
.env.*
*.log
logs/
tmp/
dist/
build/
coverage/
.DS_Store

# =====================================
# Editor / OS
# =====================================
.idea/
.vscode/
*.swp
*~
Thumbs.db

# =====================================
# Ansible
# =====================================

# =====================================
# Deployment artifacts
# =====================================
# SSH keys or connection files
*.pem
*.key
*.pub
ssh-key*

# =====================================
# Deployment / Access
# =====================================
# SSH keys or connection files
*.pem
*.key
*.pub
ssh-key*